*~
/auto-save-list/
/saveplace
/tramp
/eshell/
/games/
/places
/url/
/bookmarks
/.smex-items
/ac-comphist.dat
/elpa/archives/gnu/archive-contents
/elpa/archives/marmalade/archive-contents
/show-args.el
/projectile-bookmarks.eld
/ido.last
/recentf
/.cask/
/.cask/
/elpa
network-security.data